*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif ;
  }
  
  
  .todocontent
  {
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
  }


  section{
    width: 200px;
    height: 30px;
    position: relative;
    top: 10%;
    left: 5%;
  }

  .App{
    width: 100vw;
    height: 100vh;
  }
  
  .box
  {
    position: relative;
  }
  
  .box .square
  {
    position: absolute;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255,0.5);
    border-right: 1px solid rgba(255, 255, 255,0.2);
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
    background: rgba(255, 255, 255,0.1);
    border-radius:10px ;
    animation: animate 8s linear infinite;
  }
  
  @keyframes animate{
    0%,100%
    {
      transform: translateY(-30px);
    }
    50%
    {
      transform: translateY(30px);
    }
  }
  
  .box .square:nth-child(1)
  {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
  }
  
  .box .square:nth-child(2)
  {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
  }
  
  .box .square:nth-child(3)
  {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
  }
  
  .box .square:nth-child(4)
  {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
  }
  
  .box .square:nth-child(5)
  {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
  }
  
  .containar{
    position: relative;
    width: 400px;
    min-height: 400px;
    background-color: rgba(255, 255, 255,0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: top;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255,0.5);
    border-right: 1px solid rgba(255, 255, 255,0.2);
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
  }
  
  
  .form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
  }
  
  .form h2{
    position: relative;
    color: #fff;
    font-size:24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  .form h2:before
  {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
  }
  
  .form .inputBox
  {
    width: 100%;
    margin-top: 20px;
  }
  
  .form .inputBox input
  {
    width: 100%;
    background:rgba(255, 255, 255,0.2);
    border: none;
    padding: 10px 20px;
    border-radius: 35px;
    outline: none;
    border: 1px solid rgba(255, 255, 255,0.5);
    border-right: 1px solid rgba(255, 255, 255,0.2);
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  }
  
  .form .inputBox input::placeholder
  {
    color: #fff;
    
  }
  
  .form .inputBox input{
    color: #202020;
  }
  
  .form .inputBox input[type="submit"]
  {
    position: relative;
    top: 10px;
    left: 215px;
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    font-weight: 600;
  }
  